/* start global rules */
:root{
  --main-color: #2196f3;
  --main-color-alt: #1787e0;
  --main-transition: 0.3s;
  --main-padding-top: 100px;
  --main-padding-bottom: 100px;
  --section-background: #ececec;
}
html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
ul{
    list-style: none;
}
a{
    text-decoration: none;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
  /* Small */
  @media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  /* Medium */
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  /* Large */
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }
  .main-title{
    position: relative;
    z-index: 1;
  }
  .main-title h2{
    z-index: 1;
    margin: 0 auto 80px;
    width: fit-content;
    padding: 10px 20px;
    border: 2px solid black;
    text-transform: uppercase;
    font-size: 30px;
  position: relative;
  transition: 0.3s;
  }
  .main-title h2::before,
  .main-title h2::after{
    content: "";
    background-color: var(--main-color);
      width: 12px;
      height: 12px;
      position: absolute;
      border-radius: 50%;
      top: 50%;
      transform: translateY(-50%);
      transition:0.3s;
      
  }
  .main-title h2::before{
    left: -30px;
  
  }
  .main-title h2::after{
    right: -30px;
  }
  .main-title h2:hover{
    transition-delay: 0.5s;
    color: white;
    border: 2px solid white;
  }
  .main-title h2:hover::before{
    animation: fill-box-left 0.5s linear  forwards ;
  }
  .main-title h2:hover::after{

  animation: fill-box-right 0.5s linear  forwards;
  
  }
  @keyframes fill-box-left {
    50%{
      left: 0;
      border-radius: 0px;
      width: 14px;
      height: 14px;
    }
    100%{
      left: 0;
      z-index: -1;
      width: 51%;
      height: 100%;
      border-radius: 0;
      color: white;
    }
  }
  @keyframes fill-box-right {
    50%{
      right: 0;
      border-radius: 0px;
      width: 14px;
      height: 14px;
    }
    100%{
      right: 0;
      z-index: -1;
      width: 51%;
      height: 100%;
      border-radius: 0;
      color: white;
    }
  }
  
.dots{

position: absolute;
}
  .dots.left{
    left: 0;
    bottom: 200px;
  }
  .dots.right{
top: 200px;
right: 0;
  }
  /* strat header */
  header{
background-color: white;
box-shadow: 0 0 10px #ddd;
  }

  header > .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }
  @media (max-width: 768px){
    header > .container{
      flex-direction: column;
    }
    header .container>ul >li a{
      padding: 10px;
      font-size: 14px;
      height: 40px;
      position: relative;
          font-size: 18px;
    }
  }
  header .container .logo{
    font-weight: bold;
    font-size: 28px;
    color: var(--main-color);
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  header .container>ul{
display: flex;
align-items: center;
  }

  header .container>ul >li >a{
    color:black;
    font-weight: 500;
    padding: 0 30px;
    height: 72px;
    display: flex;
    align-items: center;
    position: relative;
  }
  @media (max-width: 768px){
    header .container>ul >li >a{
      padding: 10px;
      font-size: 14px;
      height: 40px;
    }
    header .container .logo{
      width: 100%;
      height: 50px;
    }
  }
  header .container>ul >li >a::after{
    content: "";
    position: absolute;
    background-color: var(--main-color);
    width: 0%;
    height: 5px;
    left: 0;
    top: 0;
    transition: var(--main-transition);
  }
  header .container >ul >li a:hover::after{
    width: 100%;
  }
  header .container>ul>li >a:hover {
    color: var(--main-color);
    background-color: #fafafa;
  }
  header .container>ul >li:hover .mega-menu{
    top: calc(100% + 1px);
    opacity: 1;
    z-index: 100;
  }
  header .container ul li .mega-menu{
    opacity: 0;
    display: flex;
    position: absolute;
    right: 0;
    border-bottom: 4px solid var(--main-color);
    padding: 30px;
    background: white;
    z-index: 1;
    width: 100%;
    gap: 40px;
    top: calc(100% + 50px);
    transition: var(--main-transition) ease-in-out;
    z-index: -1;
  }
  header .container ul li .mega-menu img{
    max-width: 100%;
  }
  @media (max-width:993px){
    header .container ul li .mega-menu .image{
      display: none;
    }
  }
  header .container ul li .mega-menu .links{
  flex: 1;
  min-width: 250px;
  }
  @media (max-width: 768px) {
    header .container ul li .mega-menu  {
        flex-direction: column;
        gap: 0;
        padding: 5px 0 ;
    }
    header .container ul li .mega-menu .links li{
      border-bottom: #ccc solid 1px;
    }
}
  header .container ul li .mega-menu .links li{
    padding: 15px;
    font-size: 18px;
    font-weight: bold;
    position: relative;
  }
  header .container ul li .mega-menu .links li a{
    color: var(--main-color) ;
    padding-left: 30px;
  }
  header .container ul li .mega-menu .links li::after{
  content: "";
  position: absolute;
  background-color: #fafafa;
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  transition: var(--main-transition);
  }
  header .container ul li .mega-menu .links li:hover:after{
    width: 100%;
  }
  header .container ul li .mega-menu .links li::before{
    content: "\f086";
    font-family: "Font Awesome 5 Free";
    font-weight: 400;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 15px;
    color: var(--main-color);
  }
  header .container ul li .mega-menu .links li:not(:last-child){
    border-bottom: #ccc solid 1px;
  }
  /********************* landing *************************/
  .landing{
    position: relative;
  }
  .landing::before{
    transform-origin: left top;
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    transform: skewY(-6deg);
    top: -35px;
    background-color: var(--section-background);

  }
.landing .container{
  display: flex;
  align-items: center;
  position: relative;
  top: 50%;
  min-height: calc(100vh - 72px);
  padding-bottom: 120px;
}
@media (max-width: 992px) {
  .landing .container .image{
    display: none;
  }
  .landing .container{
    text-align: center;
  }
  .landing .container p{
    margin: 10px auto 0 ;
  }
}
.landing .container .text{
flex: 1;
}
.landing .container .text h3{
  margin-bottom: 10px;
  font-size: 37px;
}
.landing .container .text p{
  font-size: 23px;
  line-height: 1.7;
  max-width: 500px;
  color: #777;
}
.landing .container img{
width: 600px;
max-width: 100%;
animation: up-down linear 5s infinite;
}
@keyframes up-down {
  0% , 100% {
    transform: translateY(0);
  }
  50%{
    transform: translateY(-50px);
  }
}

.landing .container i {
  position: absolute;
  left: 50%;
  bottom: 30px;
  color: var(--main-color);
  animation: bounding linear 1.5s infinite;
}
.landing .container i:hover{
  color: var(--main-color-alt);

}
@keyframes bounding {
  0%,
  10%,
  20%,
  50%,
  60%,
  80%,
  100%{
    transform: translateY(0);
  }
  30%,70%{
    transform: translateY(-15PX);
  }
}
/**************start articles************************/
.articles{
  padding-bottom: var(--main-padding-bottom);
  padding-top: var(--main-padding-top);
}
.articles .container{
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
  gap: 40px;
}
.articles .container .box{
  box-shadow: 0 2px 15px rgb(0 0 0/ 10%);
  transition: var(--main-transition);
}
.articles .container .box:hover{
  box-shadow: 0 2px 15px rgb(0 0 0/ 20%);
  transform: translateY(-10px);
}
.articles .container .box img{
  width: 100%;
}
.articles .container .box .text{
  padding: 20px;
}
.articles .container .box .text p{
  color: #777;
  line-height: 1.7;
  margin-top: 10px;
  
}
.articles .container .box .info{
  border-top: 1px solid #e6e6e7;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.articles .container .box .info a{
  font-size: 18px;
  font-weight: bold;
  color: var(--main-color);
}
.articles .container .box .info i{
  color: var(--main-color);

}
.articles .container .box:hover .info i{
  animation: left-right 0.6s linear infinite;
}
@keyframes left-right {
  0%{
transform: translateX(0);
  }
  100%{
transform: translate(10px);
  }
}

/*****************shinks*************************/
.shinks{
  width: 100%;
  height: 30px;
  background: linear-gradient(135deg, white 25%, transparent 25%),
              linear-gradient(-135deg, white 25%, transparent 25%);
  position: absolute;
  z-index: 1;
  background-size: 30px 30px;

}
/***************Gallery********************/
.gallery{
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  background-color: var(--section-background);
  position: relative;
}
.gallery .container{
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
  gap: 40px;
}
.gallery .container .box{
  box-shadow: 0px 5px 10px 0px rgb(0 0 0 / 10%)
            , 0px 2px 4px 0px rgb(0 0 0 / 12%);
  position: relative;
  overflow: hidden;
  background: white;
  border: 15px white solid ;
}
.gallery .container img{
  width: 100%;
  transition: var(--main-transition);
  position: relative;
}
.gallery .container .box::after{
  opacity: 20%;
  transform: translate(-50%, -50%);
  position: absolute;
  content: "";
  background-color: white;
  left: 50%;
  top: 50%;
  width: 0;
  height: 0;
}
@keyframes fill-effect {
  0%,40%{

    opacity: 20%;
  }
  100%{
    width: 200%;
    height: 200%;
    z-index: 1;
    opacity: 0;
  }
}
.gallery .container .box:hover img{
transform: scale(1.1)  rotate(3deg);
}
.gallery .container .box:hover::after{
-moz-animation: fill-effect 0.7s ;
-o-animation: fill-effect 0.7s ;
-webkit-animation: fill-effect 0.7s ;
animation: fill-effect 0.7s ;
}
/******************features**********************/
.features{
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  position: relative;
}
.features .container{
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
  gap: 40px;
}
.features .container .box{
text-align: center;
border: 1px #ccc solid;
}
.features .container .image{
  position: relative;
  overflow: hidden;
}
.features .container .image::after{
  content: "";
  position: absolute;
  border-style: solid;
  border-width: 0 0 170px 500px;
  border-color: transparent transparent white transparent;
  bottom: 0;
  right: 0;
  transition: var(--main-transition);
}
.features .container .box:hover .image::after{
  border-width: 0px 500px 170px 0px;
}
.features .container .image::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: inherit;
  opacity: 60%;
}
.features .container img{
  max-width: 100%;
}
.features .container .box h2{
  font-size: 40px;
  width: fit-content;
  margin: auto;
  position: relative;
}
.features .container .box h2::after{
  left: 15px;
  bottom: -20px;
  content: "";
  position: absolute;
  width: calc(100% - 30px);
  height: 0;
  border-bottom: 5px solid;
}
.features .container .box p{
  margin: 30px 0;
  padding: 25px;
  line-height: 2;
  color: #777;
  font-size: 20px;
}
.features .container .box a{
  color: inherit;
  font-weight: bold;
  font-size: 22px;
  padding: 10px 30px;
  width: fit-content;
  display: block;
  margin: 0 auto 30px;
  border: 3px solid ;
  border-radius: 6px;
  transition: var(--main-transition);
}

.features .container .box.quality{
  color: #f44036;
}
.features .container .box.quality .image::before{
  background-color: #f44036;
}
.features .container .box.quality a{
  background: linear-gradient(90deg, #f44036 50%, transparent 50%);
  background-size: 200% 101%;
  background-position: right top;
}
.features .container .box.time{
  color: #009688;
}
.features .container .box.time .image::before{
  background-color: #009688;
}
.features .container .box.time a{
  background: linear-gradient(90deg, #009688 50%, transparent 50%);
  background-size: 200% 101%;
  background-position: right top;
}
.features .container .box.passion{
  color: #03a9f4;
}
.features .container .box.passion .image::before{
  background-color: #03a9f4 ;
}
.features .container .box.passion a{
  background: linear-gradient(90deg, #03a9f4 50%, transparent 50%);
  background-size: 200% 101%;
  background-position: right top;
}

.features .container .box:hover a{
  background-position:left top ;
  color: white;
  }

  /**********************testimonials*********************/
  .testimonials{
padding-top: var(--main-padding-top);
padding-bottom: var(--main-padding-bottom);
background-color: var(--section-background);
  }
  .testimonials .container{
    gap: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  }
  .testimonials .container .content{
    background: white;
    position: relative;
    padding: 20px;
  }
  .testimonials .container .content img{
    top: -50px;
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    right: -10px;
    border:10px solid var(--section-background)
  }
  .testimonials .container .content h3{
margin-bottom: 10px;
  }
  .testimonials .container .content span{
color: #777;
display: block;
margin-bottom: 10px;
  }
  .testimonials .container .content i{
background-color: white;
  }
  .testimonials .container .content .rate .filled{
color: #ffc107;
  }
  .testimonials .container .content p{
margin-top: 10px;
color: #777;
line-height: 1.5;
margin-bottom: 0;
  }

  /***************team members********************/
  .team-member{
      padding-top: var(--main-padding-top);
      padding-bottom: var(--main-padding-bottom);
  }
  .team-member .container{
    gap: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
  .team-member .container  .member{
    position: relative;
  }
  .team-member .container  .member::after{
    content: "";
    position: absolute;
    height: 100%;
    right: 0;
    top: 0px;
    background-color: #e4e4e4;
    z-index: -1;
    border-radius: 10px;
    transition: var(--main-transition);
    width: 0;

  }
  .team-member .container  .member:hover::after{
    width: calc(100% - 60px);
  }
    .team-member .container  .member ::after{
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      background: var(--section-background);
      width: calc(100% - 60px);
      height: 100%;
      z-index: -1;
      border-radius: 10px;
  }
  .team-member .container  .member .content{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 60px;
  }
  .team-member .container  .member img{
    max-width: calc(100% - 60px);
    border-radius: 10px;
    transition: var(--main-transition);
  }
  .member:hover img{
    filter: grayscale(3); 
  }
  .team-member .container  .member .social{
    display: flex;
    flex-direction: column;
    gap: 30px;
    flex-wrap: wrap;
    flex: 1;
    align-content: center;
    justify-content: center;
    
  }
  .team-member .container  .member .social i{
    transition: var(--main-transition);
    color: #777;
  }
  .team-member .container  .member .social i:hover {
    color: var(--main-color);
  }
  .team-member .container  .member .text{
    padding-left: 80px;
  }
  .team-member .container  .member .text h3{
    font-size: 22px; 
    margin-top: 20px;
    color: var(--main-color);
  }
  .team-member .container  .member:hover h3{
color: #777;
  }
  .team-member .container  .member .text p{
    margin: 10px 0 25px  ;
  }
  /*****************services**********************/
  .services{
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    background-color: var(--section-background);
  }
  .services .container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
  }
  .services .container .box{
    background-color: white;
    box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 
                0 2px 4px 0 rgb(0 0 0 / 12%);
    transform: translateY(0);
    transition: var(--main-transition);
    counter-increment: number ;
  }
  .services .container .box:hover{
    transform: translateY(-10px);
  }
  .services .container .box::after{
    content: "";
    top: -3px;
    position: absolute;
    width: 0%;
    height: 3px;
    left: 50%;
    background-color: var(--main-color);
    transform: translateX(-50%);
    transition: var(--main-transition);
  }
  .services .container .box:hover::after{
    width: 100%;
  }
  .services .container .box i{
    margin: 30px auto 20px;
    color: #d5d5d5;
    display: block;
    text-align: center;
  }
  .services .container .box h3{
    margin: 20px 0 40px;
    font-size: 25px;
    color: var(--main-color);
    text-align: center;
  }
  .services .container .box .info{
    padding: 15px;
    background-color: #f9f9f9;
    text-align: right;
    position: relative;
  }
  .services .container .box .info::after{
    font-weight: bold;
    content: "0" counter(number);
    position: absolute;
    background-color: var(--main-color);
    width: 100px;
    height: 100%;
    left: 0;
    top: 0;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    padding-right: 15px;
    box-sizing: border-box;
  }
  .services .container .box .info::before{

    transform: skewX(-25deg);
    content: "";
    position: absolute;
    background-color: #d5d5d5;
    width: 50px;
    height: calc(100% + 0.4px);
    left: 80px;
    top: 0;
    z-index: 2;
  }
  .services .container .box .info a{
    text-decoration: none;
    color: var(--main-color);
  }

  /*********************** our skills *****************************/
  .our-skills{
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
  }
  .our-skills .container{
    display: flex;
  }
  .our-skills .container .skills{
    display: flex;
    flex-direction: column;
    flex: 1;
  }
  @media (max-width:991px){
    .our-skills .container img{
      display:none
    }
  }
  .our-skills .container .skills .skill h3{
    margin: 20px 0;
    text-transform: uppercase;
  }
  .our-skills .container .skills .skill .progress{
    height: 30px;
    background-color: #eee;
    position: relative;
  }
  .our-skills .container .skills .skill .progress span{
    position: absolute;
    background-color: var(--main-color);
    height: 100%;
    left: 0;
  }
  .our-skills .container .skills .skill .progress::after{
    color: var(--main-color);
    border: 1px solid #ccc;
    content: attr(prog);
    position: absolute;
    top: -40px;
    font-weight: bold;
    right: 0;
    padding: 3px 5px;
    font-size: 12px;
    border-radius: 5px;
  }

  /*******************************************/
  .work-steps{
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    background-color: var(--section-background);
  }
  .work-steps .container {
    display: flex;
    align-items: center;
    justify-content: space-between;

  }

  .work-steps .container .info{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }
  .work-steps .container>img{
max-width: 100%;
margin-right: 100px;
  }
  @media (max-width:991px){
    .work-steps .container{
      flex-direction: column;
    }
    .work-steps .container>img{
      margin-bottom: 30px;
      margin-right: 0;
    }
  }
  .work-steps .container .info .box{
    display: flex;
    padding: 30px;
    align-items: center;
    background-color: #f6f5f5;
    outline: 2px solid white;
    border-radius: 6px;
    position: relative;
    z-index: 1;
  }
  .work-steps .container .info .box::after{
    content: "";
    position: absolute;
    background-color: #ededed;
    left: 50%;
    top: 50%;
    width: 0;
    height: 0;
    transform: translate(-50%, -50%);
    z-index: -1;
    transition: var(--main-transition);
  }
  .work-steps .container .info .box:hover::after{
    width: 100%;
    height: 100%;
  }
  .work-steps .container .info .box img{
width: 64px;
margin-right: 30px;
  }
  .work-steps .container .info .box .text h3{
    font-size: 22px;
  }
  .work-steps .container .info .box .text p{
    color: #777;
    line-height: 1.7;
    margin: 10px 0 0;
    font-size: 18px;
    font-weight: bold;
  }
  /******************events***************/
  .events{
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    position: relative;
  }
  .events .container{
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
  }
  .events .container .content{
    display: flex;
    align-items: center;
  }
  .events .container .content img{
    max-width: 450px;
  }
  @media (max-width:992px){
    .events .container .content img{
      display: none;
    }
  }
  .events .container .content .box{
    text-align: center;
  }
  .events .container .clock{
    margin-top: 20px;
    display: flex;
    gap: 10px;
    justify-content: center;
  }
  .events .container .clock li{
    border: 1px solid #ccc;
    width: 75px;
    font-weight: bold;
    border-radius: 6px;
    transition: var(--main-transition);
  }
    .events .container .clock li:hover,
    .events .container .clock li:hover p
    {
    border-color: var(--main-color);
  }
  .events .container .clock li h3{
    font-size: 35px;
    padding: 15px;
    color: var(--main-color);
  }
  .events .container .clock li p{
    border-top: 1px solid #ccc;
    font-weight: normal;
    padding: 8px 10px;
    text-align: center;
    font-size: 13px;
    transition: var(--main-transition);
  }
  .events .container .content .box>h2{
    margin-top: 40px;
    font-size: 30px;
  }
  .events .container .content .box>p{
    color: #777;
    line-height: 1.7;
    font-size: 19px;
    margin: 19px 0;
  }
  .events .container form{
    width: 600px;
    margin: 70px auto 20px;
    padding: 30px 40px;
    background-color: #f6f5f5;
    border-radius: 50px;
    display: flex;
    gap: 20px;

  }
  @media (max-width:767px){
    .events .container form{
      flex-direction: column;
      max-width: calc(93% - 40px);
      border-radius: 0;
      padding: 20px;
    }
  }
.events .container form input[type="email"]{
  padding: 20px;
  border-radius: inherit;
  border: none;
  flex: 1;
  caret-color: var(--main-color);
  }
  .events .container form input[type="email"]:focus{
    outline:none;
  }
  .events .container form input[type="submit"]{
    border-radius: inherit;
    border: none;
    background-color: var(--main-color);
    color: white;
    font-weight: bold;
    padding: 20px;
    cursor: pointer;
    transition: var(--main-transition);
  }
  .events .container form input[type="submit"]:hover{
    background-color: var(--main-color-alt);
  }
  /**********************************************/
  .pricing{
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    background-color: var(--section-background);
    position: relative;
  }
  .pricing .container{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    gap: 30px;
  }
  .pricing .container .box{
    background-color: white;
    position: relative;
    box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
    flex: 1;
    text-align: center;
    z-index: 1;
  }
  .pricing .container .box::before,
  .pricing .container .box::after
  {
    content: "";
    position: absolute;
    background-color: #f6f6f6;
    width: 0%;
    height: 50%;
    transition: var(--main-transition);
    z-index: -1;
  }
  .pricing .container .box::before{
    top: 0;
    left: 0;
  }
  .pricing .container .box::after{
    bottom: 0;
    right: 0;
  }
  .pricing .container .box:hover::before,
  .pricing .container .box:hover::after{
    width: 100%;
  }
  .pricing .container .box .title{
    font-weight: bold;
    font-size: 22px;
    margin: 30px 0;
  }
  .pricing .container .box img{
    width: 80px;
    margin-bottom: 30px;
  }
  .pricing .container .box .price h3{
    font-size: 60px;
    margin-bottom: 5px;
    color: var(--main-color);
    display: block;
  }
  .pricing .container .box .price p{
    font-size: 18px;
    margin-bottom: 20px;
    color: #777;
  }
  .pricing .container .box ul{
    text-align: left;
  }
  .pricing .container .box ul li{
    padding: 20px;
    border-top: 1px solid #eee;
  }
  .pricing .container .box ul li::before{
    font-family: "Font Awesome 5 Free";
    content: "\f00c";
    margin-right: 10px;
    font-weight: 900;
    color: var(--main-color);
  }
  .pricing .container .box button{
    margin: 30px auto 40px;
    padding: 15px 20px;
    font-weight: bold;
    color: var(--main-color);
    background-color: transparent;
    border: 2px solid var(--main-color);
    border-radius: 6px;
    display: block;
    cursor: pointer;
    position: relative;
    z-index: 1;
  }
  .pricing .container .box button::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    background-color: var(--main-color);
    width: 100%;
    height: 100%;
    transition: var(--main-transition);
    z-index: -1;
    opacity: 0;
  }
  .pricing .container .box button:hover{
    color: white;
  }
  .pricing .container .box button:hover::before{
    opacity: 100%;
  }
  .pricing .container .box .label{
    padding: 10px 10px 35px 10px;
    writing-mode: sideways-rl;
    background-color: var(--main-color);
    position: absolute;
    font-weight: bold;
    right: 20px;
    font-size: 18px;
    color: white;
  }
  .pricing .container .box .label::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    border: 21px solid ;
    border-color: transparent transparent white;
  }
  @media(min-width:1200px){
  .popular{
    transform: translateY(-20px);
  }
}

/*********************************************/
.videos{
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  position: relative;
}
.videos .container{
display: flex;
justify-content: center;
}
.videos .container .titles{
  min-width: 300px;
  border-left: 1px solid var(--section-background);
  border-top: 1px solid var(--section-background);
}
.videos .container .titles .head{
  background: var(--section-background);
  padding: 20px;
  display: flex;
  justify-content: space-between;
}
.videos .container .titles .head h3{
font-size: 16px;
}
.videos .container .titles .box{
  padding: 20px;
  border-bottom: 1px solid var(--section-background);
  transition: var(--main-transition);
}
.videos .container .titles .box h3{
  font-weight: normal;
  margin-bottom: 10px;
  font-size: 16px;
}
.videos .container .titles .box:hover{
  background-color: #fafafa;
  color: var(--main-color);
  cursor: pointer;
}
.videos .container .titles .box p{
color: #777;
}
.videos .container .preview{
  flex-direction: column;
  justify-content: space-between;
  display: flex;
  background: #e2e2e2;
  padding: 10px;
  border: 1px solid var(--section-background);
}
.videos .container .preview img{
  max-width: 100%;
}
.videos .container .preview .info{
  padding: 20px;
  background-color: white;
  margin-top: 10px;
}
@media (max-width: 991px) {
  .videos .container {
      flex-direction: column;
  }
  .videos .container .titles{
    border:1px solid var(--section-background);
    border-bottom: none;
  }
  .videos .container .preview{
    border:1px solid var(--section-background);
    border-top: none;
  }
}

/***********************************/
.stats{
  background-image:url(../imgs/stats.jpg);
  position: relative;
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  background-size: cover;
  min-height: 300px;
}

.stats::before{
content: "";
background-color: rgb(255 255 255 / 95%);
width: 100%;
height: 100%;
position: absolute;
top: 0;
left: 0;
}
.stats h2{
  position: relative;
  text-align: center;
  font-size: 40px;
  margin-bottom: 50px;
}
.stats .container{
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}
.stats .box{
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 30px 15px;
  background-color: white;
  flex-basis: calc(25% - calc(15px * 3));
  align-items: center;
  opacity: 60%;
  transition: var(--main-transition);
}
.stats .box::after,
.stats .box::before{
  content: "";
  width: 2px;
  height: 0;
  position: absolute;
  background-color:var(--main-color);
  transition: 1s;
}
.stats .box::after{
  bottom:  0;
  left: 0;
} 
.stats .box::before{
  top: 0;
  right: 0;
}
.stats .box:hover::before,
.stats .box:hover::after{
  height: 100%;
}
.stats .box .number{
  font-size: 40px;
  font-weight: bold;
  margin: 20px 0;
}

.stats .box .text{
  font-style: italic;
  color: var(--main-color);
  font-size: 20px;
  font-weight: bold;
}
.stats .box:hover{
opacity: 100%;
}

@media (max-width: 992px){
  .stats .box{
    flex-basis: calc(50% - 45px);
  }
}
@media (max-width: 676px){
  .stats .box{
    flex-basis: calc(100% - 15px);
  }
}
/**************************************/
